.logo-slider {
  width: 100%;
  overflow: hidden;
}

.logo-container {
  width: calc(1032px * 2);
  width: 100%;
  display: flex;
  animation: slide-right 3s linear infinite;
}

.logo {
  width: 100px; /* Adjust this size as per your requirements */
  height: auto;
}

@media screen and (max-width: 1400px) {
  @keyframes slide-right {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-1056px);
    }
  }

  .logo-container {
    animation: slide-right 30s linear infinite;
  }
}
